div{
    background-color: #FFE4E1;
    margin:60px;
    width: 360px;
    height: 560px;
    margin: 0px;     /*centrando horizontalmente um elemento */
    border-radius: 30px;
    padding: 20px;
}

header{
    background-color: #E0FFFF;
    width: 340px;
    height: 110px;
    border-radius: 30px;
    margin: 0 auto;
    font-size: xx-large;
    color: #000000;
    text-align: center;
}

table{
    background-color: #E0FFFF;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: 30px;
}

td{
    width: 110px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
}

.character{
    color: #000000;
}

.number{
    color: #0000FF;
}
 
td:active{
    background-color: #e0e0d1;
    border-radius: 30px;
}